:root {
    --white: rgba(255, 255, 255, 1);
    --dark-gray: rgba(50, 64, 84, 1);
    --secondary-gray: rgba(113, 131, 155, 1);
    --pdf-red: rgba(241, 72, 72, 1);
    --button-variables-button-height-m: 40px;
  }
  